@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-background-primary: var(--bg-primary);
  --color-background-secondary: var(--bg-secondary);
  --color-border-subtle: var(--border-subtle);
  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
}

:root {
  --bg-primary: #ffffff;
  --bg-secondary: #f4f4f5;
  --border-subtle: #e4e4e7;
  --text-primary: #09090b;
  --text-secondary: #71717a;
}

.dark {
  --bg-primary: #0A0A0A;
  --bg-secondary: #111111;
  --border-subtle: #27272a;
  --text-primary: #ffffff;
  --text-secondary: #a1a1aa;
}

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
}
